// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

.welcome-container {
  background-color: #EBEAFF; /* Light purple background */
}
.min-vh-85 {
  min-height: 85vh; /* Full height for the container */
}
.card-titles {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 200px 0;
}
  